@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    color: white;
    font-family: 'Inconsolata', sans-serif;
}

body {
    background-color: rgb(51, 51, 51);
    margin: 0px;
    overflow-x: hidden;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    color: rgb(51, 51, 51);
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
}

a {
    color: gray;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

a:hover {
    color: white;
}

#liens {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

#bandeau {
    background: linear-gradient(to bottom right, darkblue, cyan);
    height: 1000px;
    margin: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(10px);
}

#photoProfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#etudiant {
    color: lightblue;
}


.btn {
    padding: 12px 24px;
    border-radius: 10px;
    color: white;
    border: solid;
    width: 100px;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.356);
    cursor: pointer;
}

#aPropos p, .description, #bilan {
    font-size: 20px;
    width: 50%;
    align-self: center;
}

#projets, #aPropos, #contact, #experience {
    padding: 20px;
}

#aPropos {
    display: flex;
}

#projets, #contact, .description, #bilan{
    background-color: rgb(43, 43, 43);
}

#listeProjets {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

.projet {
    border: 1px solid gray;
    border-radius: 10px;
    width: 25%;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}

.projet .headerProjet{
    text-align: center;
    padding: 30px;
    font-size: 30px;
    background: linear-gradient(to top right, darkblue, cyan);
}

.projet .contenuProjet {
    padding: 15px;
}

#langages {
    display: flex;
    justify-content: flex-start;
}

.langage {
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
    width: fit-content;
    font-weight: bold;
    margin: 15px;
    flex-wrap: wrap;
}

#contact {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;  
    
}

.pages, #bilan {
    padding: 20px;
    width: 100%;
}

.pages {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
}

.pages img:first-child {
    grid-row: span 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pages img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.description {
    display: flex;
    width: 100%;
}

.contexte {
    width: 150%;
    padding: 20px;
}

.competences {
    width: 100%;
    padding: 20px;
}

.competences div {
    margin: 30px;
    font-size: 17px;
}

.competence {
    
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    width: 50px;
    margin: 15px;
    flex-wrap: wrap;
    border: solid white;
}

.vr {
    border: solid grey;
    width: -2px;
    border-width: 1px;
    margin: 15px;
}